{% extends 'base.html' %}
{% load static %}

{% block title %}Panel | SegPrivado{% endblock %}

{% block nav_brand %}
<a class="navbar-brand" href="{% url 'nucleo:home' %}">SEGPRIVADO</a>
{% endblock %}

{% block nav_links %}
<li class="nav-item mx-0 mx-lg-1 d-flex align-items-center me-3">
    <img src="{% static 'users/ADMIN.jpg' %}" alt="usuario" width="45" height="45" class="rounded-circle">
</li>
<li class="nav-item mx-0 mx-lg-1">
    <span class="nav-link py-3 px-0 px-lg-3 rounded">{{ user.username }}</span>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'viewProfile' %}">Perfil</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded" onclick="return confirm('Desea cerrar sesion?')" href="{% url 'logout' %}">Salir</a>
</li>
{% endblock %}

{% block content %}{% endblock %}
