{% extends 'index.html' %}

{% block title %}Compra | SegPrivado{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8 d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Medicamentos</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary">
                            {% for m in medicamentos %}
                            <tr>
                                <td>{{ m.nombre }}</td>
                                <td>{{ m.descripcion }}</td>
                                <td>{{ m.precio }}</td>
                                <td>{{ m.stock }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'nucleo:addMedicamento' pk=m.id %}">Anadir</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos Factura</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Fecha</label>
                            {{ form.fecha }}
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Paciente</label>
                            <input type="text" name="paciente" value="{{ user.first_name }} {{ user.last_name }}" disabled>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Total</label>
                            {{ form.precio }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Guardar compra</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8 d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Carrito</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary">
                            {% for c in carrito %}
                            <tr>
                                <td>{{ c.nombre }}</td>
                                <td>{{ c.descripcion }}</td>
                                <td>{{ c.precio }}</td>
                                <td>{{ c.cantidad }}</td>
                                <td>{{ c.acumulado }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'nucleo:addMedicamento' pk=c.id %}">+</a>
                                    <a class="btn btn-secondary" href="{% url 'nucleo:restarMedicamento' pk=c.id %}">-</a>
                                    <a class="btn btn-danger" href="{% url 'nucleo:removeMedicamento' pk=c.id %}">Quitar</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No hay medicamentos en el carrito.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-outline-light text-dark border-secondary" href="{% url 'nucleo:limpiarCarrito' %}">Vaciar carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
