{% extends 'index.html' %}

{% block title %}Historico de Citas | SegPrivado{% endblock %}

{% block content %}
<h1 class="text-secondary">Historico de Citas</h1>
<br>
<nav class="navbar">
    <form class="container-fluid" action="{% url 'nucleo:filterCita' %}">
        <div class="input-group">
            <span class="input-group-text">Filtros:</span>
            <span class="input-group-text">Fecha de Inicio:</span>
            <input type="date" class="form-control" name="fechaIni">
            <span class="input-group-text">Fecha Final:</span>
            <input type="date" class="form-control" name="fechaFin">
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </form>
</nav>
<br>
{% if citas %}
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Medico</th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        {% for cita in citas %}
        <tr>
            <td>{{ cita.fecha }}</td>
            <td>{{ cita.observaciones }}</td>
            <td>{{ cita.doctor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No hay citas registradas</h1>
{% endif %}
{% endblock %}
